
/*Inter import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@import url(./loader.css);

@import url(./ribbon.css);

*{
  font-family: 'Inter', sans-serif;
}

:root {
  
}

body {
  background-color: black;
  color: white;   
}

a {
  color: white;
  text-decoration: none;
}

.hidden{
  display: none;
}

main {
  min-height: 50vh;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}

@media only screen and (min-width: 899px) {

/*footer*/

footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
} 
h6{
  font-size: 15px;
} 
.logo-footer{
  width: 100%;
  max-width: 30px;
  height: auto;
}
.footer-desktop{
  display: none;
}

/*DESKTOP*/

.back-sign{
  width: 20px;
  margin-left: 80px;
  margin-bottom: 30px;
  margin-top: 15px;
}

/*header*/
.nav-grid, .logo, .burger{
  display: none;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.desktop-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 25px;
  align-items: safe;
  margin-bottom: 0px;
}

.logo{
  width: 100%;
  max-width: 60px;
  margin: 0;
  
}

.desktop-logo{
  width: 100%;
  max-width: 100px;
}

ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.nav-header{
  display: flex;
  flex-direction: column;
}

.logincart{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.searchbox{
color: rgb(0, 0, 0);
padding: 5px 5px 7px 7px;
border-radius: 25px; 
background: white;
}

/*footer*/

.footer-logo{
display: none;
}

.footer{
width: 100%;
font-family: inter;
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-bottom: 25px;
margin-top: 50px;
border-top: solid white 0.2px;
padding-top: 25px;
}

.footer-desktop{
width: 100%;
font-family: inter;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}



.h-six{
margin: 0;
}


.logo, .insta, .face, .twitter{
width: 100%;
max-width: 30px;
}


.logo-footer{
width: 100%;
max-width: 100px;
}

.support{
display: flex;
flex-direction: column;
text-align: left;
}

.about-footer{
display: flex;
flex-direction: column;
text-align: left;
}

.profile{
display: flex;
flex-direction: column;
text-align: left;
}

.some{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 10px;
}

.insta, .face, .twitter{
width: 100%;
max-width: 25px;
margin-top: 5px;
}

.visa, .paypal, .mastercard, .apple-pay{
display: flex;
flex-direction: row;
width: 100%;
max-width: 25px;
height: 20px;
}

.payment-options{
display: flex;
flex-direction: row;
width: auto;
gap: 10px;
align-items: center;
}

img {
  max-width: 350px;
}


/*main*/ 

.gamesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.gamesList div img{
  width: 100%;
  max-width: 350px;
} 


.image-container{
  position: relative;
  max-width: 350px;
}

.image-container .ribbon{
  position: absolute;
  top: 28px;
  left: 0px;
}

.item-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.prices{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.on-sale{
  color: red;
  margin-right: 10px;
  font-weight: 700;
}

.flex-sale{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

.blackfriday{
  margin-top: 2rem;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
    text-shadow:
      0 0 1px #fff,
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 247),
      0 0 82px rgb(255, 0, 247),
      0 0 100px rgb(255, 0, 247);
  
}

.selected-genre{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 67px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: black;
  color: white;
  border-color: white;
}


.title{
  margin-bottom: 0;
}

/*product page*/

h2 {
  font-size: 30px;
  margin-top: 0px;
  padding: 0px;
}

.addGame{
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
}

.productItem{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.product-intel{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 950px;
  margin: 0 auto;
}

.insertImg{
  position: relative;

  .ribbon {
    position: absolute;
    top: 28px;
    left: 0px;
  }
}

.productInfo{
  max-width: 350px;
}

.product-footer-logo{
  display: none;
}


/*checkout*/

h1{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.singleCard{
  margin-bottom: 50px;
  text-align: center;
}

/*checkout*/

.totalAmount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.totalPrice{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 7px;
  font-weight: bold;
}

.total{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.purchaseBtn{
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.itemRemover{
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 30px;
}

/*confirmation*/

.thanks{
  width: 395px;
  margin: 0 auto;
  text-align: center;
}

.explore-more{
  justify-content: center;
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.confirmation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.gameover{
  margin-bottom: 15px;
  margin-top: 15px;
  width: 200px;
}
}

.empty{
  align-items: center;
  text-align: center;
  font-weight: bold;
}


@media only screen and (max-width: 899px) {


  main {
    margin: 0 auto;
  }
  /*global*/

  .back-sign{
    width: 10px;
    margin-left: 80px;
    margin-bottom: 30px;
  }
  
  .desktop-header, .search-container, .gray-line-desktop{
    display: none;
  }

  .page-header h1{
    font-size: 1.5rem;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
  }
  
  .nav-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 85px;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  
  .logo{
    width: 100%;
    max-width: 60px;
    height: 60px;
  }
  
  .burger{
    width: 2rem;
  }
  
  .hidden-burger{
    display: none;
    overflow: hidden;
  }
  
  #hamburger-ham{
    display: none;
  
  }
  
  #hamburger-ham:checked~.hidden-burger{
    padding: 10px;
    display: block;
    position: absolute;
    top: 15%;
    background-color: black;
    width: 100%;
    height: 200%;
    left: 0px;
  
  }
  
  .top-buttons{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 40px;
    margin-bottom: 60px;
  
  }
  
  .bottom-buttons{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
  }



/*main*/

.blackfriday{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
    text-shadow:
      0 0 1px #fff,
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 247),
      0 0 82px rgb(255, 0, 247),
      0 0 100px rgb(255, 0, 247);
  
}

.selected-genre{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 35px;
  background-color: black;
  color: white;
  border-color: white;
}

.gamesList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.gamesList div img{
  width: 100%;
  max-width: 250px;
} 


.image-container{
  position: relative;
  max-width: 350px;
}

.image-container .ribbon{
  position: absolute;
  top: 28px;
  left: 0px;
}

.item-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.prices{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.on-sale{
  color: red;
  margin-right: 10px;
  font-weight: 700;
}

.flex-sale{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
}

/*product*/

h2 {
  font-size: 30px;
  margin-top: 0px;
  padding: 0px;
}

.addGame{
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
}

.productItem{
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.product-intel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 250px;
  height: 200px;
  margin: 0 auto;
}

.insertImg{
  position: relative;
  max-width: 250px;

  .ribbon {
    position: absolute;
    top: 28px;
    left: 0px;
  }
}

.insertInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.productInfo{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  max-width: 250px;
}


/*cart*/

h1 {
  text-align: center;
}

.singleCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 15px;
  margin-top: 35px;
}


.totalAmount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.total{
  margin-bottom: 5px;
}

.totalPrice{
  margin-top: 5px;
  font-weight: 700;
}

.purchaseBtn{
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.itemRemover{
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 30px;
}


/*confirmation*/

h1 {
  font-size: 20px;
}

.thanks{
  font-size: 14px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

.gameover{
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.explore-more{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  border: solid;
  border-width: 0.1px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 auto;
}

/*footer*/

footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
} 
h6{
  font-size: 15px;
} 
.logo-footer{
  width: 100%;
  max-width: 30px;
  height: auto;
}

.footer-desktop{
  display: none;
}


.footer-logo{
  width: 100%;
  max-width: 60px; 
  margin-bottom: 20px;
  margin-top: 50px;
}

.product-footer-logo{
  width: 100%;
  max-width: 60px; 
  margin-top: 600px;
}